[submodule "src/3rd_party/LibBrain"]
	path = src/3rd_party/LibBrain
	url = https://github.com/dagush/LibBrain.git
[submodule "src/3rd_party/rsfMRI-VAE"]
	path = src/3rd_party/rsfMRI-VAE
	url = https://github.com/libilab/rsfMRI-VAE.git
